body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(coffee-beans.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

body {
  padding: 20px;
}

h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}
.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 500px;
  border-radius: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

hr {
  height: 2px;
  background-color: rgb(84, 3, 3);
  border-color: rgb(84, 3, 3);
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: sans-serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

svg {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  ;
}
